# Byte-compiled / cache
RSC_sim/__pycache__/
*.py[cod]
*.pyo

# Virtual environments
RSC_sim/.venv/
RSC_sim/venv/
RSC_sim/env/
*.egg-info/
.eggs/

# Build artifacts
build/
dist/

# IDE/project files
.idea/
.vscode/
*.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

RSC_sim/data/M_FACTOR_TABLE.npy
